@model IEnumerable<Gruppe2.Models.IndexInfo>

@{
    ViewData["Title"] = "Pollenvarsel";
}

<h1>Pollenvarsel – neste 5 dager</h1>

<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Display Name</th>
            <th>Value</th>
            <th>Category</th>
            <th>Index Description</th>
        </tr>
    </thead>
   <tbody>
    @foreach (var cell in Model)
    {
        <tr>
            <td>@cell.Code</td>
            <td>@cell.DisplayName</td>
            <td style="background-color: rgb(@cell.ColorInfo.Red, @cell.ColorInfo.Green, @cell.ColorInfo.Blue);">
                @cell.Value
            </td>
            <td>@cell.Category</td>
            <td>@cell.IndexDescription</td>
        </tr>
    }
    </tbody>
</table>
